.header{
    width: 100%;
    padding: 20px 0;
}

.header, .header nav ul, .header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav ul{
    gap: 20px;
}

.header nav ul li{
    color: white;
    cursor: pointer;
}

.header nav ul li:hover{
    border-bottom: 2px groove #FF7757;
}

.header button{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.header button:hover{
    background-color: #FF7757;
}

.a{
    color: #ededed;
}

@media (max-width: 1152px) {
    .header{
        overflow-x: hidden;
    }
}